#Search > .unity-text-field__input {
    font-size: 30px;
    -unity-text-align: middle-center;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
}
